@using MvcProject2.Models;
@model Movie

@{
    ViewData["Title"] = "Movie details";
}
<head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap">
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

     body {

        background: url('../Images/body-bg.gif');
        background:black;
        color:black;
        font-family: "Roboto", sans-serif;
      
    }

    .movie {
        max-width: 800px;
        border-radius: 5px;
        display: flex;
        box-shadow: 0 5px 20px 10px rgba(0, 0, 0, .2);
        overflow: hidden;
        margin-left: 346px;
    }

    .movie__hero {
        flex: 0 0 45%;
    }

    .movie__img {
        width: 100%;
        height: 100%;
        display: block;
    }

    .movie__content {
        background-color: aliceblue;
        flex: 1;
        padding: 35px 30px;
        display: flex;
        flex-direction: column;
    }

    .movie__price {
        background: linear-gradient(to bottom, #A9C9FF 0%, #FFBBEC 100%);
        flex: 0 0 50px;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 2px;
        color: rgb(255, 255, 255);
        writing-mode: vertical-lr;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .movie__title {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .heading__primary {
        font-size: 16px;
        margin-right: auto;
        color: royalblue;
    }

    .fa-fire {
        color: salmon;
    }

    .movie__tag {
        font-size: 10px;
        color: #fff;
        padding: 2px 7px;
        border-radius: 100px;
        margin-right: 8px;
        display: block;
        text-transform: uppercase;
    }

    .movie__tag--1 {
        background-color: #FFBBEC;
    }

    .movie__tag--2 {
        background-color: #FFBBEC;
    }

    .movie__description {
        font-size: 14px;
    }

    .movie__details {
        display: flex;
        margin: auto;
    }

    .movie__detail {
        font-size: 13px;
        margin-right: 20px;
        display: flex;
        align-items: center;
    }

    .mar {
        margin-top: 30px;
    }

    .icons i {
        margin-right: 3px;
        font-size: 18px;
    }

    .icons-red {
        color: salmon;
    }

    .icons-grey {
        color: grey;
    }

    .icons-yellow {
        color: rgb(190, 190, 71);
    }
</style>
<figure class="movie">
    <div class="movie__hero">
        <img src="@Model.ImageURL" alt="Rambo" class="movie__img">
    </div>
    <div class="movie__content">
        <div class="movie__title">
            <h1 class="heading__primary"> @Model.Name<i class="fas fa-fire"></i></h1>
            <div class="movie__tag movie__tag--1">@Model.MovieCategory</div>
            <p class="card-text ">

                @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                {
                    <span class="badge bg-success text-white">AVAILABLE</span>
                }
                else if (DateTime.Now > Model.EndDate)
                {
                    <span class="badge bg-danger text-white">EXPIRED</span>
                }
                else
                {
                    <span class="badge bg-primary text-white">UPCOMING</span>
                }
            </p>
        </div>
        <p class="movie__description">
            @Model.Description
        </p>
        <div class="movie__details">
            <p class="movie__detail">
                 @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
										<a asp-action="Delete"  asp-route-id="@Model.Id"  formnovalidate class="Cancel" onclick="
                                            return confirm('Are you sure you want to delete this movie?')"> <i class="fa-solid fa-trash-can"></i></a>
                                    }
            </p>
            <p class="movie__detail"><span class="icons icons-grey"><i class="fas fa-clock"></i><b>Start Date: </b> @Model.StartDate.ToString("dd MMM yy")</span></p>
            <p class="movie__detail"><span class="icons icons-grey"><i class="fas fa-clock"></i><b>End Date: </b> @Model.EndDate.ToString("dd MMM yy")</span></p>
            <p class="movie__detail"></p>

        </div>


        <div class="movie__details">
            <div class="row">

                <div class="row">

                    <b>Actors: </b>

                </div>
                <div class="row">
                    @foreach (var actor in Model.Actors_Movies)
                    {
                        <div class="col">

                            <br />
                            <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId"> <img class="border-info rounded-circle" src="@actor.Actor.ProfilePictureURL" style="width: 70px; height:70px" /></a>
                        </div>
                    }
                </div>

            </div>
        </div>

        <div class="movie__details">
            <div class="row">

                <div class="row">
                    <div class="col">
                        <b> Producer</b>
                    </div>
                    <div class="col">
                        <b>Cinema: </b>
                    </div>


                </div>
                <div class="row">
                    <div class="col">
                        <a asp-controller="Producers" asp-action="Details" asp-route-id="@Model.ProducerId">
                            <img class="border-info rounded-circle" src="@Model.Producer.ProfilePictureURL" style="width: 70px; height:70px" />
                        </a>

                    </div>

                    <div class="col">
                        <a asp-controller="Cinemas" asp-action="Details" asp-route-id="@Model.CinemaId">
                            <img class="border-info rounded-circle" src="@Model.Cinema.Logo" style="max-width: 70px" />
                        </a>

                    </div>

                </div>

            </div>
        </div>




        <div class="row mar">


            <div class="col">
                <a class="btn btn-outline-primary  btn-md  p-2.9 " asp-action="Index">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg>
                    Back to List
                </a>

            </div>
            <div class="col">
                <a class="btn btn-success btn-md  p-2.9 text-white  @((DateTime.Now > Model.EndDate) ? "disabled" : "")"
                   asp-controller="Orders"
                   asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i> Add to Cart </a>

            </div>

        </div>


       

    </div>
    <div class="movie__price"> @Model.Price.ToString("c")</div>


</figure>